*{
	margin:0;
	padding:0;
}
.head{
    width: 100%;
    height: 400px;
    background: url(../image/waixinquguangchang.jpg) no-repeat ;
    background-size: 100%;
    margin-bottom: 0;
    text-align: center;
}
.logo{
    width: 100%;
    height: 30%;
}
.logo img{
    margin-top: 20px;
}
#p1{
    width: 100px;
    height: 100px;
}
.center{
    width: 100%;
}
.center .service-shadow{
    width: 25%;
    float: left;
    margin-top: 25px;
    margin-bottom: 130px;
}
.center .service-shadow img{
    width: 89%;
    margin-left: 5%;
    transition: 0.5s linear;
}
.center .service-shadow img:hover{
    transform: scale(1.1);
}
.center .service-shadow .button{
    text-decoration: none;
    display: block;
    width: 50%;
    height: 50px;
    border: 2px solid rgba(0,0,0,0.8);
    line-height: 50px;
    color: #2dcb70;
    font-size: 18px;
    font-weight:700;
    margin:20px auto;
    box-sizing: border-box;
    transition: 0.4s ease;
    position: relative;
}
.button .line{
    position: absolute;
    display: block;
    background: none;
    transition: 0.4s ease;
}
.button .line-top{
    width: 0;
    height: 2px;
    left:-100%;
    top:-2px;
}
.button:hover .line-top{
    width: 100%;
    background-color: #000;
    position: absolute;
    left: -2px;
    top: -2px;
}
 .button .line-left{
    width: 2px;
    height: 0;
    bottom:-100%;
    left:-2px;
}
 .button:hover .line-left{
    height: 50px;
    background-color: #000;
    left: -2px;
    bottom: -2px;
}
.button .line-right{
    width: 2px;
    height: 0;
    top:-100%;
    right:-2px;
}
.button:hover .line-right{
    height:50px;
    background-color: #000;
    right: -2px;
    top: -2px;
}
 .button .line-bottom{
    right: -100%;
    width: 0;
    height: 2px;
    bottom:-2px;
}
.button:hover .line-bottom{
    width: 100%;
    background-color: #000;
    right: -2px;
    bottom: -2px;
}
.center .service-shadow p{
    text-align: center;
    font-size: 20px;
    color: black;
    line-height:50px;
    margin:0;
}

.clear{
    clear: both;
}
.foot{
    width: 100%;
    height: 100px;
    background-color: #4f9ded;
}
.foot span{
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    color: white;
    line-height: 1.8;
    font-size: 14px;
}